@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf9;
  --color-primary-100: #ccfbf1;
  --color-primary-200: #99f6e4;
  --color-primary-300: #5eead4;
  --color-primary-400: #2dd4bf;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;
  --color-primary-800: #115e59;
  --color-primary-900: #134e4a;

  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  @apply antialiased text-slate-600 bg-white font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 font-bold tracking-tight;
}